*/venv
.DS_Store
*.env
*.log
*.log.*
*.pyc
*.pyo
*.swp
*.tmp
*.egg-info
*.egg
__pycache__
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
*.egg
*.egg-info
__pycache__